llama3.2 # Text to text
kokoro #Text to speech
whisper # Speech to text

torch
git+https://github.com/huggingface/transformers
git+https://github.com/huggingface/accelerate
huggingface-hub

sounddevice 
scipy

pygame

soundfile

numpy

reportlab
